html {
    background-color: rgb(84, 0, 84);
}


.centerText {
    text-align: center;
}

h1 {
    color: white;
}

.headline {
    height: 25vh;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    background-color: rgb(66, 0, 66);
}

.headlineText {
    font-size: 590%;
}
